@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --twoslash-border-color: hsla(0, 0%, 53%, 0.533);
  --twoslash-underline-color: currentColor;
  --twoslash-highlighted-border: rgba(195, 125, 13, 0.314);
  --twoslash-highlighted-bg: rgba(195, 125, 13, 0.125);
  --twoslash-popup-bg: #f8f8f8;
  --twoslash-popup-color: inherit;
  --twoslash-popup-shadow: #000 0px 1px 4px;
  --twoslash-docs-color: #888;
  --twoslash-docs-font: sans-serif;
  --twoslash-code-font: inherit;
  --twoslash-code-font-size: 1em;
  --twoslash-matched-color: inherit;
  --twoslash-unmatched-color: #888;
  --twoslash-cursor-color: hsla(0, 0%, 53%, 0.533);
  --twoslash-error-color: #d45656;
  --twoslash-error-bg: rgba(212, 86, 86, 0.125);
  --twoslash-tag-color: #3772cf;
  --twoslash-tag-bg: rgba(55, 114, 207, 0.125);
  --twoslash-tag-warn-color: #c37d0d;
  --twoslash-tag-warn-bg: rgba(195, 125, 13, 0.125);
  --twoslash-tag-annotate-color: #1ba673;
  --twoslash-tag-annotate-bg: rgba(27, 166, 115, 0.125);
}

:root {
  --nextra-primary-hue: 212deg;
  --nextra-primary-saturation: 100%;
  --nextra-navbar-height: 4rem;
  --nextra-menu-height: 3.75rem;
  --nextra-banner-height: 2.5rem;
  --nextra-bg: 255, 255, 255;
}

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1, "ss06" 1 !important;
  font-family: Segoe UI, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Noto Sans, Ubuntu,
    Cantarell, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

html {
  scroll-padding-top: 4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
}

html {
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  line-height: 1.5;
}

